* {
  box-sizing: border-box;
}

body {
  background-color: #eeaca0;
  color: #333333;
  font-family: "iransans";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  color: rgb(110, 12, 207);
  font-size: 10rem;
  text-align: center;
  opacity: 0.4;
}

form {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: 400px;
  border-radius: 25px;
  background-color: #f36046;
}

.input {
  border: none;
  color: #444;
  font-size: 2rem;
  padding: 1rem 2rem;
  display: block;
  width: 100%;
  border-radius: 25px;
  background-color: #f36046;
}

.input::placeholder {
  color: #b4b2b2;
}

.input:focus {
  outline: none;
}

.todos {
  background-color: #b4b2b2;
  padding: 0;
  margin: 0;
  list-style-type: none;
  border-radius: 15px;
}
.todos li:first-child {
  border-top:none;
}

.todos li {
  border-top: 1px solid#616161;
  cursor: pointer;
  font: 1.5rem;
  padding: 1rem 2rem;
}

.todos li.completed {
  color: #7e7d7d;
  text-decoration: line-through;
}

small {
  color: #4d4a4a;
  margin-top: 3rem;
  text-align: center;
  font-size: larger;
}
